## Preprocessing data

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
os.chdir('..')

In [4]:
os.getcwd()

'c:\\Users\\iiven\\Ai-Cursor\\Machine failure prediction'

In [5]:
df = pd.read_csv('Data/data_final.csv')

In [6]:
df.head(10)

   index  footfall  tempMode  AQ  USS  CS  VOC  RP  IP  Temperature  fail
0     48        35         6   4    4   2    1  46   3            4     0
1     49         0         1   3    4   5    2  22   6            4     0
2     50         0         7   5    1   6    5  68   3            4     1
3     51         0         2   5    2   6    5  38   3            4     1
4     52        33         7   4    3   6    3  69   2            4     0
5     53       270         2   5    4   3    0  67   3            4     0
6     54        45         7   2    4   6    0  88   4            4     0
7     55        40         3   6    2   5    5  68   3            4     1
8     56         6         1   5    2   4    2  76   3            4     1
9     57         2         7   4    4   6    0  72   2            4     0

In [7]:
from sklearn.preprocessing import StandardScaler

**We will only scale numeric numbers**

In [8]:
numeric_cols = ['footfall', 'AQ', 'USS', 'CS', 'VOC', 'RP', 'IP', 'Temperature']

In [9]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df[numeric_cols])

In [11]:
df_scaled = pd.DataFrame(df_scaled, columns=numeric_cols)

In [13]:
df_scaled.head(10)

,footfall,AQ,USS,CS,VOC,RP,IP,Temperature
0,-0.001913,-0.243883,0.876321,-2.764959,-0.866163,-0.092400,-1.020413,-2.595761
1,-0.655739,-0.933358,0.876321,-0.318784,-0.427245,-1.573419,0.840583,-2.595761
2,-0.655739,0.445591,-1.375365,0.496608,0.889510,1.265202,-1.020413,-2.595761
3,-0.655739,0.445591,-0.624803,0.496608,0.889510,-0.586073,-1.020413,-2.595761
4,-0.039274,-0.243883,0.125759,0.496608,0.011673,1.326911,-1.640746,-2.595761
5,4.388063,0.445591,0.876321,-1.949567,-1.305081,1.203493,-1.020413,-2.595761
6,0.184895,-1.622832,0.876321,0.496608,-1.305081,2.499385,-0.400081,-2.595761
7,0.091491,1.135065,-0.624803,-0.318784,0.889510,1.265202,-1.020413,-2.595761
8,-0.543654,0.445591,-0.624803,-1.134175,-0.427245,1.758875,-1.020413,-2.595761
9,-0.618377,-0.243883,0.876321,0.496608,-1.305081,1.512038,-1.640746,-2.595761

In [14]:
df_scaled['tempMode'] = df['tempMode']
df_scaled['fail'] = df['fail']

In [15]:
df_scaled.head(10)

,footfall,AQ,USS,CS,VOC,RP,IP,Temperature,tempMode,fail
0,-0.001913,-0.243883,0.876321,-2.764959,-0.866163,-0.092400,-1.020413,-2.595761,6,0
1,-0.655739,-0.933358,0.876321,-0.318784,-0.427245,-1.573419,0.840583,-2.595761,1,0
2,-0.655739,0.445591,-1.375365,0.496608,0.889510,1.265202,-1.020413,-2.595761,7,1
3,-0.655739,0.445591,-0.624803,0.496608,0.889510,-0.586073,-1.020413,-2.595761,2,1
4,-0.039274,-0.243883,0.125759,0.496608,0.011673,1.326911,-1.640746,-2.595761,7,0
5,4.388063,0.445591,0.876321,-1.949567,-1.305081,1.203493,-1.020413,-2.595761,2,0
6,0.184895,-1.622832,0.876321,0.496608,-1.305081,2.499385,-0.400081,-2.595761,7,0
7,0.091491,1.135065,-0.624803,-0.318784,0.889510,1.265202,-1.020413,-2.595761,3,1
8,-0.543654,0.445591,-0.624803,-1.134175,-0.427245,1.758875,-1.020413,-2.595761,1,1
9,-0.618377,-0.243883,0.876321,0.496608,-1.305081,1.512038,-1.640746,-2.595761,7,0

In [16]:
df_scaled.to_csv('Data/data_final_scaled.csv', index=False)